body {
    background: rgb(240, 240, 240);
}

header {
    background: #fff;
}

.navbar-default {
    background-color: transparent !important;
    border: none !important;
    margin: 0 !important;
}

.navbar-brand img {
    width: 150px;
}

.navbar-default .navbar-nav>li>a {
    color: #000;
    line-height: 92px;
    text-transform: uppercase;
    padding: 10px 20px;
}

.banner {
    height: 540px;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url('../images/banner.jpg');
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-inner {
    position: absolute;
    top: 35%;
    text-align: center;
    width: 100%;
}

.header-inner h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 40px;
    line-height: 60px;
    padding-bottom: 20px;
}

.header-inner a {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 20px 60px;
    text-transform: uppercase;
    font-weight: 200;
}

.big-grid {
    background: url('../images/building.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
}

.small1 {
    background: url('../images/small1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 485px;
    margin-bottom: 15px;
}

.small2 {
    background: url('../images/small2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
}

.grid {
    margin: 60px 0;
}

.social {
    background: #f8f7f5;
    text-align: center;
    text-transform: uppercase;
    padding: 50px 0;
}
